<footer>
    <br />
	<h3>FOOTER</h3>
    <br />
    <div>
        lib.year: <f:cObject typoscriptObjectPath="lib.year" />
        <br />
        lib.legal: <f:cObject typoscriptObjectPath="lib.legal" />
        <br />
        lib.footer: <f:cObject typoscriptObjectPath="lib.footerNav" />
    </div>
    <br />
    <div>
        lib.companyName: <f:cObject typoscriptObjectPath="lib.companyName" />
        <br />
        lib.legalForm: <f:cObject typoscriptObjectPath="lib.legalForm" />
        <br />
        lib.street: <f:cObject typoscriptObjectPath="lib.street" />
        <br />
        lib.streetNr: <f:cObject typoscriptObjectPath="lib.streetNr" />
        <br />
        lib.streetNrSuffix: <f:cObject typoscriptObjectPath="lib.streetNrSuffix" />
        <br />
        lib.country: <f:cObject typoscriptObjectPath="lib.country" />
        <br />
        lib.countryCode: <f:cObject typoscriptObjectPath="lib.countryCode" />
        <br />
        lib.plz: <f:cObject typoscriptObjectPath="lib.plz" />
        <br />
        lib.city: <f:cObject typoscriptObjectPath="lib.city" />
        <br />
        lib.phone: <f:cObject typoscriptObjectPath="lib.phone" />
        <br />
        lib.mobile: <f:cObject typoscriptObjectPath="lib.mobile" />
        <br />
        lib.fax: <f:cObject typoscriptObjectPath="lib.fax" />
        <br />
        lib.email: <f:cObject typoscriptObjectPath="lib.email" />
    </div>
    <br />
</footer>
